
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@mixin Header(
        $colorThemeBackground: #232946,
        $colorThemeText: #fffffe,
        $colorThemeButton: #eebbc3,
        $colorThemeButtonText: #232946,
        $colorThemeMainHover: #b8c1ec,
        $headerHeight: 6em,
        $headerItemsSpace: 3em, 
        $headerPadding: 1em 1em, 
        $logoClass: logo, 
        $logoPosition: left, 
        $logoHeight: 70%, 
        $navbarWrapperClass: navbar-wrapper,
        $navbarClass: navbar, 
        $navItemClass: nav-item,
        $navLinkClass: nav-link,
        $navItemHover: true,
        $navItemHoverBar: true,
        $navbarPosition: center, 
        $dropdownClass: sub-menu, 
        $dropDown: true, 
        $socialClass: social, 
        $social: true,
        $hamburgerMenuClass: hamburger-menu,
        $hamburgerMenuLineCount: 3,
    ) {
    $breakpointMobileSM: 540;
    $breakpointMobile: 540;
    $breakpointTablet: 768;
    $breakpointTabletLG: 1024;
    $breakpointLeptopSM: 1200;
    $breakpointLeptopLG: 1400;
    $breakpointDesktopSM: 1600;
    $breakpointDesktop: 1800;
    $breakpointDesktopLG: 2000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: $headerPadding;
    height: $headerHeight;
    background: $colorThemeBackground;
    @if ($logoPosition == "left") {
        flex-direction: row;
    } @else if ($logoPosition == "right") {
        flex-direction: row-reverse;
    }
    display: flex;
    @media screen and (max-width: #{$breakpointTabletLG}px){
        justify-content: space-between;
        align-items: center;
    }
    gap: $headerItemsSpace;
    .#{$logoClass}{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: relative;
            z-index: 2;
            height: $logoHeight;
        }
        a{
            display: flex;
            align-items: center;
            height: $logoHeight;
            img{
                height: $logoHeight;
            }
        }
    }
    .#{$hamburgerMenuClass}{
        @media screen and (max-width: #{$breakpointTabletLG}px) {
            display: flex;
        }
        overflow: hidden;
        display: none;
        button{
            position: relative;
            padding: .3em;
            border: 0;
            border-radius: .2em;
            background: $colorThemeButton;
            cursor: pointer;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            span{
                transition: all .3s ease;
                width: 100%;
                height: 3px;
                border-radius: 3px;
                background-color: $colorThemeButtonText;
            }
        }
        @if ($hamburgerMenuLineCount <= 2 ){
            button{
                span:nth-of-type(2){
                    display: none;
                }
            }
            &.active{
                
                span{
                    position: absolute;
                }
                span:first-of-type{
                    transform: rotate(45deg);
                }
                span:last-of-type{
                    transform: rotate(-45deg);
                }
            }
        } @else {
            &.active{
                
                span{
                    position: absolute;
                }
                span:first-of-type{
                    transform: rotate(45deg);
                }
                span:nth-of-type(2){
                    transform: translateX(100px);
                    visibility: hidden;

                }
                span:last-of-type{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .#{$navbarWrapperClass}{
        @media screen and (max-width: #{$breakpointTabletLG}px){
            &.active{
                top: $headerHeight;
                transition: top .8s ease;
            }
            transition: top .8s ease;
            position: absolute;
            width: 100%;
            left: 0;
            height: calc(100% - $headerHeight);
            top: -1400px;
            display: flex;
            justify-content: center;
            padding: 4em 0;
            background: $colorThemeBackground;
            box-sizing: border-box;
            .#{$navbarClass}{
                display: flex;
                flex-direction: column;
                gap: 2em;
                .#{$navItemClass}{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    
                    @if ($navItemHover) {
                        .#{$navLinkClass}:hover{
                            color: $colorThemeMainHover;
                        }
                    }

                    .#{$navLinkClass}{
                        transition: all .3s ease;
                        font-size: 1.6em;
                        text-decoration: none;
                        color: $colorThemeText;
                        display: flex;
                        justify-content: center;
                    }
                }
                @if ($dropDown) {
                    .#{$navItemClass}{
                        justify-content: center;
                        .#{$navLinkClass}{
                            gap: .4em;
                            i{    
                                transition: transform .3s ease;
                                &.active{
                                    transform: rotate(-180deg);
                                }
                            }
                        }
                        .#{$dropdownClass}{
                            display: none;
                            background: #{$colorThemeBackground};
                            width: max-content;
                            flex-direction: column;
                            gap: 1em;
                            padding: 1em;
                            .#{$navItemClass}{

                                .#{$navLinkClass}{
                                    padding:  .2em;
                                }
                            }
                            &.active{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (min-width: #{$breakpointTabletLG}px){
            width: 100%;
            display: flex;
            @if($navbarPosition == "left"){
                justify-content: flex-start;
            } @else if ($navbarPosition == "center"){
                justify-content: center;
            } @else if ($navbarPosition == "right"){
                justify-content: flex-end;
            }
            .#{$navbarClass}{
                display: flex;
                justify-self: flex-end;
                align-items: center;
                gap: 1em;
                height: 100%;
                .#{$navItemClass}{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    &:hover{
                        
                        i{
                            transform: rotate(-180deg);
                            
                        }
                    }
                    @if ($navItemHover) {
                        .#{$navLinkClass}:hover{
                            color: $colorThemeMainHover;
                        }
                    }
                    @if ($navItemHoverBar) {
                        &::before{
                            content: '';
                            position: absolute;
                            height: 3px;
                            width: 0%;
                            bottom: 0;
                            border-radius: 3px;
                            background-color: $colorThemeText;
                            transition: width .3s ease;
                        }
                        &:hover{
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                    .#{$navLinkClass}{
                        text-decoration: none;
                        color: $colorThemeText;
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }
                }
                @if ($dropDown) {
                    .#{$navItemClass}{
                        position: relative;
                        justify-content: center;
                        .#{$navLinkClass}{
                            gap: .4em;
                            i{    
                                transition: transform .3s ease;
                            }
                        }
                        &:hover{
                            .#{$dropdownClass}{
                                // display: flex;
                                visibility: visible;
                                pointer-events: all;
                                top: 100%;
                                transition: top .3s ease;
                            }
                        }
                        .#{$dropdownClass}{
                            display: flex;
                            pointer-events: none;
                            visibility: hidden;
                            transition: top .3s ease;
                            top: 80%;
                            background: #{$colorThemeBackground}fe;
                            position: absolute;
                            width: max-content;
                            left: 50%;
                            transform: translateX(-50%);
                            flex-direction: column;
                            gap: 1em;
                            padding: 1em;
                            box-shadow: 0 0 .5em #00000060;
                            border-radius: .6em;
                            .#{$navItemClass}{

                                .#{$navLinkClass}{
                                    padding:  .8em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @if ($social) {
        .#{$socialClass}{
            @media screen and (max-width: #{$breakpointTabletLG}px){
                display: none;
            }
            display: flex;
            column-gap: 1em;
            align-items: center;
            a{
                color: $colorThemeText;
                transition: all .3s ease;
                &:hover{
                    color: $colorThemeMainHover;
                }
            }
        }
    } @else {
        .#{$socialClass}{
            display: none;
        }
    }
}


// Hepsi default değerlerdir -----------------------
$ColorThemeBackground: #232946;
$ColorThemeText: #fffffe;
$ColorThemeButton: #eebbc3;
$ColorThemeButtonText: #232946;
$ColorThemeMainHover: #b8c1ec;
$HeaderHeight: 6em; // Header Yükseklik
$HeaderItemsSpace: 3em; // Headerdaki itemlerin arasındaki boşluk
$HeaderPadding: 1em 1em; // Header iç boşluk (1. değer üst ve alt boşluk, 2. değer yan boşluklar)
$LogoClassName: logo; // logo classını girin
$LogoPosition: left; // Parameters = left, center, right
$LogoSize: 70%; // Logonun boyutunu giriniz (Yüzdelik tavsiye edilir)
$NavbarWrapperClass: navbar-wrapper; // Navbarın Kapsayıcı Classını girin
$NavbarClass: navbar; // Navbarın classını girin
$NavItemClass: nav-item; // Navbar itemlerinin clasını girin
$NavLinkClass: nav-link; // Navbar linklerinin clasını girin
$NavItemHover: true; // Linklerin hover rengi / Params = true - false
$NavItemHoverBar: true; // linklerin hover çizgisi / Params = true - false
$NavbarPosition: center; //Parameters = left, center, right
$DropdownClass: sub-menu; // Dropdown Clasını girin
$DropdownActive: true; // Dropdown varsa true yoksa false girin
$SocialClass: social; // Sosyal iconların kapsayıcı classını girin
$SocialActive: true; // Sosyal varsa true yoksa false girin
$HamburgerMenuClass: hamburger-menu; //Hamburger menu butonu classını girin
$HamburgerMenuLineCount: 3; // Parameters = 2 - 3
.header{
    @include Header(
            $ColorThemeBackground,
            $ColorThemeText,
            $ColorThemeButton,
            $ColorThemeButtonText,
            $ColorThemeMainHover,
            $HeaderHeight, 
            $HeaderItemsSpace,
            $HeaderPadding, 
            $LogoClassName, 
            $LogoPosition, 
            $LogoSize, 
            $NavbarWrapperClass, 
            $NavbarClass, 
            $NavItemClass, 
            $NavLinkClass,
            $NavItemHover,
            $NavItemHoverBar, 
            $NavbarPosition, 
            $DropdownClass, 
            $DropdownActive, 
            $SocialClass, 
            $SocialActive,
            $HamburgerMenuClass,
            $HamburgerMenuLineCount
        );

}